@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">
    <p class=" alert alert-info" style="font-size:medium"> <b>Providing excellent answers significantly increases your chances of being selected for an interview.</b></p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("What makes you the ideal candidate for this position?")
            @Html.TextArea("Message", new { @class = "form-control" })
            @Html.ValidationMessage("Message", "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
