@model JobOffersWebsite.Models.ApplyForJob

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="alert alert-danger">
    <span><b>Are you sure you want to discard your apply for this job?</b></span>
</div>
<div>
    <hr />
    <dl class="dl-horizontal" style="font-size:large">
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input id="save" type="submit" value="Delete" class="btn btn-primary" />
        </div>
    }
</div>
