@model JobOffersWebsite.Models.ApplyForJob

@{
    ViewBag.Title = "DetailsOfJob";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details of this application.</h2>

<dl class="dl-horizontal" style="font-size:large">
    <hr />

    <dt>
        @Html.DisplayNameFor(model => model.Job.JobTitle)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Job.JobTitle)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Message)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Message)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ApplyDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ApplyDate)
    </dd>
</dl>


