@model JobOffersWebsite.Models.ApplyForJob

@{
    ViewBag.Title = "DetailsOfJob";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>DetailsOfJob</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Job.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(model => model.Message)
            </td>
            <td>
                @Html.DisplayFor(model => model.ApplyDate)
            </td>
        </tr>
    </table>
 