@model JobOffersWebsite.Models.ApplyForJob

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <h2>Edit Answer</h2>
    <hr />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.JobId)
        @Html.HiddenFor(model => model.ApplyDate)

        <div class="form-group">
            <h4>@Html.LabelFor(model => model.JobId) : @Model.Job.JobTitle</h4>
        </div>

        <div class="form-group">
            <h4>@Html.LabelFor(model => model.User.UserName) : @Model.User.UserName </h4>
        </div>

        <div class="form-group">
            <h4>@Html.LabelFor(model => model.Message)</h4>
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}
