@model IEnumerable<JobOffersWebsite.Models.JobsViewModel>

<h2>APPLICATIONS</h2>
<hr/>
<p>
    @Html.ActionLink("Create New", "Create", "Jobs", null, new { @class = "btn btn-primary" })
</p>


@foreach (var gr in Model)
{
    <table class="table table-hover table-bordered">
        <h3>@gr.JobTitle</h3>

        <tr>
            <th>User Name</th>
            <th>Message</th>
            <th>Apply Date</th>
        </tr>

        @foreach (var item in gr.items)
        {
            <tr>
                <td>@item.User.UserName</td>
                <td>@item.Message</td>
                <td>@item.ApplyDate</td>
            </tr>
        }
    </table>
}