@using Microsoft.AspNet.Identity
@using JobOffersWebsite.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>
    <nav class="nav navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collpase" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar" class=" navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class href="~/home/index">EXPLORE</a>
                    </li>


                    @{
                        var db = new ApplicationDbContext();
                        var UserId = User.Identity.GetUserId();

                        var user = db.Users.Where(u => u.Id == UserId).SingleOrDefault();

                        if (user != null && user.UserType == "Recruiter")
                        {
                            <li>
                                <a class href="#">SAVED</a>
                            </li>

                            <li>
                                <a class href="~/home/GetJobsByPublisher">APPLICATIONS</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class href="#">SAVED</a>
                            </li>

                            <li>
                                <a class href="~/home/GetJobsByUser">APPLICATIONS</a>
                            </li>
                        }
                    }

                    <li>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            <input type="text" name="searchName" id="searchName" placeholder="Search jobs.." />
                        }
                    </li>
                </ul>

                @Html.Partial("_Login")

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row" style="min-height:349px;">
            @RenderBody()
        </div>
    </div>

    @*<footer class="myfooter">
        <div class="container">
            <div class="row">
                <div class=" col-md-4">
                    <h3>who are you?</h3>
                    <p></p>
                </div>
                <div class=" col-md-4">
                    <h3>Services</h3>
                    <ul>
                        <li>
                            <a href="#">General</a>
                        </li>
                        <li>
                            <a href="#">Special</a>
                        </li>
                    </ul>
                </div>
                <div class=" col-md-4">
                    <h3>Contact me</h3>
                    <ul>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <a href="#">Youtube</a>
                        </li>
                        <li>
                            <a href="#">Gmail</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="subfooter">
            <p>&copy; @DateTime.Now.Year - Job Offers Website</p>
        </div>
    </footer>*@

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
